<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flightinfosys.server.mapper.FlightMapper">



    <select id="selectFlightId" parameterType="com.flightinfosys.server.domain.Flight" resultType="integer">
        select id from flight_info
        where source = #{source} and destination = #{destination};
    </select>

</mapper>
